<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>830626564252-6rht9jbobbhd06cfvg7td9naj09qqj6c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.830626564252-6rht9jbobbhd06cfvg7td9naj09qqj6c</string>
	<key>API_KEY</key>
	<string>AIzaSyDL6OLdUp_T21ErVF6b0-efzm_-FF40RBU</string>
	<key>GCM_SENDER_ID</key>
	<string>830626564252</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.norbertotaveras.NewsDay</string>
	<key>PROJECT_ID</key>
	<string>newsday-ios-watchos</string>
	<key>STORAGE_BUCKET</key>
	<string>newsday-ios-watchos.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:830626564252:ios:09a8b90e6048e121408559</string>
	<key>DATABASE_URL</key>
	<string>https://newsday-ios-watchos.firebaseio.com</string>
</dict>
</plist>